<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shorter API</title>
</head>
<body>
    <h1>URL shorter API</h1>
    <hr/>
    <div style="border: 2px solid black; padding: 20px; margin: 5%; text-align: center;">
        <form action="/api/shorturl" method="post">
            <label for="userUrl">Enter your URL :</label>
            <br/>
            <input type="text" name="userUrl" id="userUrl" placeholder="eg. http://nkd.com/pages">
            <br/>
            <input type="submit" value="Short it">
        </form>
    </div>
    <br/>
    <br/>
    <!-- <div style="border: 2px solid black; padding: 20px; margin: 5%;text-align: center;">
        <h2>Your shorted your is </h2>
        <br/>
        <p>
            <span>
                <a id="newUrl href="/api/shorturl/1">/api/shortedurl/1</a>
            </span>
        </p>
    </div> -->
</body>
<script>
    function updateUrl(url){
        iurl = document.getElementById('newUrl');
        iurl.herf = url
    }
</script>
</html>